services:
  gguf-converter:
    build:
      context: ./docker/gguf-converter
      dockerfile: Dockerfile
    image: gguf-converter:latest
    container_name: gguf-converter
    volumes:
      - ./machineLearning/languageModel/dist:/models/input:ro
      - ./machineLearning/languageModel/dist/gguf_converted:/models/output
    profiles:
      - tools

  ollama-gpu:
    image: ollama/ollama
    networks: ['agents']
    volumes:
      - ollama_data:/root/.ollama
      - ./docker/ollama/custom_models:/app/model-definitions
    ports:
      - "11434:11434"
    command: serve
    container_name: ollama-gpu
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - OLLAMA_KEEP_ALIVE=-1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  ollama-cpu:
    image: ollama/ollama
    networks: ['agents']
    volumes:
      - ollama_data:/root/.ollama
      - ./docker/ollama/custom_models:/app/model-definitions
    ports:
      - "11434:11434"
    command: serve
    container_name: ollama-cpu
    environment:
      - OLLAMA_HOST=0.0.0.0:11434

  n8n:
    image: docker.n8n.io/n8nio/n8n
    networks: ['agents']
    container_name: n8n-node
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - n8n_data:/home/node/.n8n
    ports:
      - "5678:5678"
    environment:
      - OLLAMA_HOST=ollama:11434
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - QDRANT_HOST=qdrant
#    command: start --tunnel
    links:
      - db

#  qdrant:
#    image: qdrant/qdrant:gpu-nvidia-latest
#    container_name: qdrant
#    networks: ['agents']
#    restart: unless-stopped
#    volumes:
#      - qdrant_data:/qdrant/storage
#    ports:
#      - "6333:6333"
#    environment:
#      - QDRANT__GPU__INDEXING=1  # Enable GPU indexing
#      - QDRANT__LOG_LEVEL=debug  # Optional: Set to debug to verify GPU initialization in logs
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              count: all
#              capabilities: [gpu]

  db:
    networks: ['agents']
    image: pgvector/pgvector:pg17
    container_name: db-pgvector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: example_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

networks:
  agents:

volumes:
  ollama_data:
  n8n_data:
  pgdata:
  qdrant_data: